@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes rose {
    0% { 
      transform: translateY(60%) translateX(-100%);
      opacity: 0;
    }
    100% { 
      opacity: 1;
      transform: translateY(0) translateX(0);
    }
  }
  @keyframes foto {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes selo {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes polaroid1 {
    0% {
      transform: rotate(-30deg) translateY(100%) translateX(30%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: rotate(0deg) translateY(0) translateX(0);
    }
  }
  @keyframes polaroid2 {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes polaroid3 {
    0% {
      transform: rotate(-45deg) translateX(100%) translateY(60%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: rotate(0deg) translateY(0) translateX(0);
    }
  }
  @keyframes camera {
    0% {
      transform: translateY(100%) translateX(-30%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(0);
    }
  }
  @keyframes filme {
    0% {
      transform: rotate(-30deg) translateY(100%) translateX(30%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: rotate(0) translateY(0) translateX(0);
    }
  }
  @keyframes knight {
      from { 
        opacity: 0; 
      }
      to {
         opacity: 1;
      }
  }
  @keyframes fita {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes bounce {
    0% { 
      transform: scale(1);
     }
    30% {
      transform: scale(0.9); 
    }
    60% {
      transform: scale(1.05);
    }
    100% { 
      transform: scale(1); 
    }
  }

  .animate-selo.ativo {
    animation: selo 600ms steps(6, end) forwards;
  }
  .animate-foto.ativo {
    animation: foto 500ms steps(6, end) forwards;
  }
  .animate-rose.ativo {
    animation: rose 500ms steps(6, end) forwards;
  }
  .animate-polaroid1.ativo{
    animation: polaroid1 700ms steps(6, end) forwards;
  }
  .animate-polaroid2.ativo{
    animation: polaroid2 500ms steps(6, end) forwards;
  }
  .animate-polaroid3.ativo{
    animation: polaroid3 700ms steps(6, end) forwards;
  }
  .animate-camera.ativo{
    animation: camera 500ms steps(6, end) forwards;
  }
  .animate-filme.ativo{
    animation: filme 700ms steps(6, end) forwards;
  }
  .animate-knight.ativo{
    animation: knight 1.2s forwards;
  }
  .animate-fita.ativo{
    animation: fita 500ms steps(6, end) forwards;
  }
    .animate-fita2.ativo{
    animation: fita 500ms steps(6, end) forwards;
  }
    .animate-fita3.ativo{
    animation: fita 500ms steps(6, end) forwards;
  }
    #carta {
    cursor: pointer;
  }
    #carta:active {
    animation: bounce 0.3s ease;
  }

.meu-cartao {
        width: 84%;
    }
  @media screen and (min-width: 768px) {
        .meu-cartao {
            width: 70%;
        }
    }

section {
  height: 80vh;
}
  @media (min-width: 768px) {
    section {
      height: 113vh;
    }
  }

#conteudo {
  background-image: url("../bg.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: repeat-y ;
}}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0; 
  height: 0;
}

#overlay {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 9999;
  background: url('../bg.jpg') center/cover no-repeat;
}